<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <link rel="stylesheet" href="/estilos.css">
</head>
<body>
    <nav>
        <a href="/">Inicio/</a>
        <a href="/productos">Productos</a>
        <a href="/usuarios">Usuarios</a>
        <a href="/carts">Carritos</a>
        <a href="/categorias">Categorias</a>
    </nav>
    <h1>Categorias</h1>
    <a href="/categorias/create">Crear categoria</a>
    <table>
        <thead>
            <tr>
            <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            <% categorias.forEach(categoria => { %>
                <tr>
                    <td><a href="/categorias/<%= categoria.id %>"><%= categoria.nombre %></a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>